.new-collections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
}

.new-collections h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.new-collections hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.collections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
    padding-bottom: 20px;
}

@media (max-width: 1024px) {
    .new-collections h1 {
        font-size: 42px;
    }

    .collections {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;
    }

    .new-collections hr {
        width: 180px;
        height: 5px;
    }
}

@media (max-width: 800px) {
    .new-collections h1 {
        font-size: 36px;
    }

    .collections {
        grid-template-columns: 1fr 1fr; 
        gap: 20px;
    }

    .new-collections hr {
        width: 150px;
        height: 4px;
    }
}

@media (max-width: 600px) {
    .new-collections h1 {
        font-size: 28px;
    }

    .collections {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .new-collections hr {
        width: 120px;
        height: 3px;
    }
}